.collection-page {
  padding: 2rem 0;

  &--withImage {
    padding: 0;

    .collection-page__header {
      padding: 2rem 0;
      background-size: cover;
    }
  }

  &__header {
    position: relative;
    text-align: center;

    .cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .container {
      position: relative;
    }

    #ProductsCount {
      display: inline-block;

      margin-top: 0.5rem;
      margin-bottom: 1rem;

      font-size: 14px;
      color: #909090;
    }
  }

  &__body {
    .reset-all {
      display: block;
      text-align: right;
    }

    .sort-imitator {
      text-align: right;
      @include media($tablet) {
        label {
          display: none;
        }
      }

      #SortBy-imitator {
        padding-right: 2rem;
        padding-left: 0.5rem;

        cursor: pointer;

        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgN0w4IDExTDEyIDciIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K")
          97% 50% no-repeat;
        border: none;
        border-bottom: 1px solid #000;

        appearance: none; /* Firefox */
        appearance: none; /* Safari and Chrome */
        appearance: none;
      }
    }

    .collection-products {
      display: flex;

      .mobile-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;

        display: none;

        background: #00000082;
      }

      .mobile-close-wrapper {
        display: none;

        margin-bottom: 1rem;

        text-align: right;
        @include media($tablet) {
          display: block;
        }

        .mobile-filter-close {
          width: 16px;
          height: 16px;
          padding: 0;
          margin-left: auto;

          background: none;
          border: none;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      &__filter {
        position: sticky;
        top: 0;
        z-index: 1;

        flex-direction: column;
        flex-wrap: wrap;

        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;

        width: 300px;
        height: 100%;
        padding: 1rem 1rem 1rem 0;
        margin-left: -300px;

        background: #fff;

        animation: 300ms ease 0s 1 normal forwards running
          animation-slideleft-open;
        @include media($tablet) {
          position: absolute;
          top: 0 !important;
          left: 0;
          z-index: 999;

          padding-left: 1rem;
          overflow: auto;

          animation: 300ms ease 0s 1 normal forwards running
            animation-slideleft-close;
        }

        &.close {
          animation: 300ms ease 0s 1 normal forwards running
            animation-slideleft-close;
        }

        &.open {
          animation: 300ms ease 0s 1 normal forwards running
            animation-slideleft-open;
        }

        .filter {
          &__item {
            margin-bottom: 1.5rem;

            .summary {
              display: flex;
              justify-content: space-between;

              .title {
                margin-bottom: 0.5rem;

                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.08em;
              }
            }

            .details {
              .list {
                li {
                  .filter-checkbox {
                    position: relative;

                    display: flex;

                    align-items: center;

                    cursor: pointer;

                    input {
                      position: absolute;
                      top: 0;
                      left: 0;
                      z-index: -1;

                      width: rem(16px);
                      height: rem(16px);
                      margin: 0;

                      opacity: 1;

                      appearance: none;
                      appearance: none;
                    }

                    & > svg {
                      margin-right: 0.5rem;
                      background-color: #fff;
                    }

                    .icon-checkmark {
                      position: absolute;
                      top: 8px;
                      left: 3px;
                      z-index: 5;

                      visibility: hidden;
                    }

                    input[type="checkbox"]:checked ~ .icon-checkmark {
                      visibility: visible;
                    }

                    &--disabled {
                      pointer-events: none;
                      opacity: 0.5;
                    }
                  }
                }
              }

              .price {
                display: flex;
                align-items: center;

                .field {
                  label {
                    display: block;

                    font-size: 12px;
                    text-transform: lowercase;
                  }
                }

                .range-sign {
                  align-self: flex-end;

                  height: 30px;
                  margin: 0 5px;
                }
              }
            }
          }
        }
      }

      &__listing {
        position: relative;

        width: 100%;
        max-width: 1920px;
      }
    }

    .products-list {
      position: relative;
      padding-top: 1rem;

      .product-card {
        form {
          padding: 0 5px;
        }
      }

      &__products {
        display: grid;

        grid-template-columns: repeat(4, 25%);

        justify-content: space-between;
        @include media($tablet) {
          grid-template-columns: repeat(2, 50%);
        }
      }

      &__pagination {
        margin-top: 2rem;
        text-align: center;

        span {
          margin: 0 4px;
        }
      }

      .loading-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;

        visibility: hidden;

        background-color: #ffffff75;
      }

      &.loading .loading-overlay {
        visibility: visible;
      }
    }

    .filter-toggle-button {
      font-weight: bold;

      cursor: pointer;

      background: transparent;
      border: none;
      border-bottom: 1px solid;
    }
  }
}

body.filters-mobile-open {
  overflow: hidden;

  .collection-page__body .collection-products .mobile-overlay {
    display: block;
  }
}

@keyframes animation-slideleft-close {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -300px;
    visibility: hidden;
  }
}

@keyframes animation-slideleft-open {
  0% {
    margin-left: -300px;
    visibility: visible;
  }

  100% {
    margin-left: 0;
  }
}
