{%- render 'stylesheet', name: 'products-carousel' -%}

{%style%}

.small-banner-title {
  display: flex;
  justify-content: center;
  color: black;
}

h5 {
  margin: 0;
  padding: 0;
}

{%endstyle%}

  <div class="container-max">    
      {% if section.settings.carousel_title != blank %}
        <div class="small-banner">
          <div class="small-banner-title">
              <h5 class="banner-item">{{ section.settings.carousel_title}} </h5>
              <h5 class="banner-item">{{ section.settings.carousel_title2}} </h5>
              <h5 class="banner-item">{{ section.settings.carousel_title3}} </h5>
          </div>
        </div>
      {% endif %}
  </div>


{% schema %}
{
  "name": "Small-Banner",
  "class": "small-banner",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "carousel_title",
      "label": "Title",
      "default": "add your text"
    },
    {
      "type": "text",
      "id": "carousel_title2",
      "label": "Title",
      "default": "add your text"
    },
    {
      "type": "text",
      "id": "carousel_title3",
      "label": "Title",
      "default": "add your text"
    }
  ],

  "presets": [
    {
    "name": "Small-Banner",
    "category": "Home Page"
  }
  ]
}
{% endschema %}

{%comment%}
{
    "name": "Products Carousel",
    "category": "Home Page"
  }

  {%endcomment%}