{%- render 'stylesheet', name: 'products-carousel' -%}

{%style%}


.small-banner-title {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right:30px;
}


.banner-item {
  margin: 0px 10px;
}

h5 {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .small-banner-title {
    margin-right: 0px;

    }

  .banner-item {
    font-size: 1rem;
    line-height: 1rem;
    }
  }

  @media only screen and (max-width: 479px) {

  .banner-item {
    font-size: 0.8rem;
    line-height: 0.8rem;
    }
}

{%endstyle%}

  <div class="container-max-banner">    
      {% if section.settings.carousel_title != blank %}
        <div class="small-banner">
          <div class="small-banner-title">
              <h3 class="banner-item">{{ section.settings.carousel_title}} </h3>
              <h3 class="banner-item" >•</h3>
              <h3 class="banner-item">{{ section.settings.carousel_title2}} </h3>
              <h3 class="banner-item" >•</h3>
              <h3 class="banner-item">{{ section.settings.carousel_title3}} </h3>
          </div>
        </div>
      {% endif %}
  </div>


{% schema %}
{
  "name": "Small-Banner",
  "class": "small-banner",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "carousel_title",
      "label": "Title",
      "default": "add your text"
    },
    {
      "type": "text",
      "id": "carousel_title2",
      "label": "Title",
      "default": "add your text"
    },
    {
      "type": "text",
      "id": "carousel_title3",
      "label": "Title",
      "default": "add your text"
    }
  ],

  "presets": [
    {
    "name": "Small-Banner",
    "category": "Home Page"
  }
  ]
}
{% endschema %}

{%comment%}
{
    "name": "Products Carousel",
    "category": "Home Page"
  }

  {%endcomment%}