@import "~sass-rem/rem";

// Primary Colors
$color-black: #000;
$color-light-grey: #f4f4f4;
$color-grey: #c4c4c4;
$color-dark-grey: #d9d9d9;
$color-white: #fff;

// System Colors
$color-red: #e31818;
$color-green: #00c236;

// Font family
$font-main: "Futura PT Light", sans-serif;
$font-extended: "Futura PT Light", sans-serif;

//breakpoints
$desktop-s: 1150px;
$tablet-l: 991px;
$tablet: 767px;
$mobile: 479px;

@mixin media($breakpoint, $name: max) {
  @if ($name == max) {
    @media only screen and (max-width: $breakpoint) {
      @content;
    }
  } @else if ($name == min) {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "Unknown query name: #{$name}";
  }
}
